// Override default variables before the import
$body-bg: #282c34;
$primary: #76C2AF;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.app {
  text-align: center;
  background-color:$body-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 20px;
}

.quote {
  margin: 1em;
  font-family: 'Merienda', serif;
  font-weight: 700;
  max-width: 30em;
}

.category-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  column-gap: 3em;
  margin-top: 1em;
}

.custom-control-label {
  padding-left: .5em;

  &::before,
  &::after {
    top: .5em;
    transform: scale(2);
  }
}

.start-button {
  max-width: 45em;
  margin-top: 3em;
}
